
@media only screen and (min-width: 767px) and (max-width:992px) {
	.nav_nav_logo>a:nth-child(1)>img{
		display: none;
	}
	.nav_nav_logo>a:nth-child(2)>img{
		width: 166px;
		height: 25px;
		margin-left: 5px;
	}
	.myUlNav{
		width:485px;
		margin-top: 10px;
	}
	.myUlNav li{
		width: calc(100%/6);
	}
	.myUlNav li a{
		color: white;
		font-size: 16px;
	}
	.header{
		position: absolute;
		left: 0;
		top: 13px;
		z-index: 5;
		width: 100%;
	}
}	
@media only screen and (min-width: 992px)  {
	.nav_nav_logo>a:nth-child(1)>img{
		display: none;
	}
	.nav_nav_logo>a:nth-child(2)>img{
		width: 166px;
		height: 25px;
		margin-left: 5px;
	}
	.myUlNav{
		width:560px;
		margin-top: 10px;
	}
	.myUlNav li{
		width: calc(100%/6);
	}
	.myUlNav li a{
		color: white;
		font-size: 16px;
	}
	.header{
		position: absolute;
		left: 0;
		top: 13px;
		z-index: 5;
		width: 100%;
	}
	
	
}
@media only screen and (max-width: 768px) {
	.header{
		width: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 99;
		top: 0;
	}
	.nav_nav_logo{
		background: white;
		width: 100%;
		height: 50px;
	}
	.nav_nav_logo>a:nth-child(2)>img{
		display: none;
	}
	.nav_nav_logo>a:nth-child(1)>img{
		width: 140px;
		height: 21px;
	}
	.asd img {
		position: absolute;
		left: calc(50% - 70px);
	}
	#oneNav{
		background-color: #f1501a;
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	.myUlNav{
		width: 100%;
	}
	.myUlNav li a{
		width: 100%;
		color: white;
		margin-left: 14px;
	}
	.myHeaderBtn span:nth-child(2){
		float: right;
	}
	.myHeaderBtn span:nth-child(1){
		margin-left: 11px;
		
		
	}
	.myHeaderBtn{
		width: 100%;
		height: 45px;
		background:#f1501a;
		color: white;
		margin: 0;
	}
	.background{
		height: 280px;
	}
	.background div:nth-child(2) img{
		margin-top: 90px;
		min-height: 280px;
	}
	.background div:nth-child(3) img{
		width: 200px;
		height: 30px;
	}
	.background div:nth-child(3) span{
		font-size: 22px;
		font-weight: 400;
		vertical-align: middle;
	}
	.background div:nth-child(3){
		width: 320px;
		height: 30px;
		margin: 0 auto;
		margin-top: 150px;
	}
	.zxc{
		display: none;	
	}
	.foot{
		margin-top: 20px;
		height: 160px;
		font-size: 16px;
	}
	
	.img>div:nth-child(1) p{
		display: none;
	}
	.none{
		display: none;
	}
	.asd>img{
		width: 300px;
		height: 150px;
	}
	.myHeader{
		margin-top: -40px;
	}
	.img>div:nth-child(1) img{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.img>div:nth-child(1) p{
		width: 100%;
	}
	.img>div:nth-child(2)>div:nth-child(1),
	.img>div:nth-child(2)>div:nth-child(2){
		margin: 0 auto;		
		width: 100%;
		height: 100%;
	}
	.img>div:nth-child(2)>div:nth-child(1){
		font-size: 20px;
		line-height: 55px;
		
	}
	.img>div:nth-child(2)>div:nth-child(2){
		font-size: 13px;
		line-height: 45px;
	}
	.spanbutton{
		top: 86%;
		left: 79%;
	}	
}